p {
    color: blue;
    background-color: chartreuse;
    font-size: 20px;
    
}

/* Todo: Añadan un background  a la etiquetera h1 y cambian su tamaño
a 50px */


h1 {
    background-color: aqua;
    font-size: 50px;
}


h3 {
    background-color: orange;
    font-size: 50px;
}

#estado {
    background-color: brown;
}

.btn {
    background-color: aquamarine;
}